.main {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: .5rem;
    height: 90%;
    object-fit: contain;
}

.name {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0em;
}
.breadcrum{
    margin-top:  .8rem;
    margin-left: .5rem;
}
.button1{
    margin-left: 60%;
    height: 60%;
    padding: 0 1rem;
    background: #1D7000;
    border-radius: 1rem;
    color: white;
    display: flex;
    align-items: center;
}
.img1{
    
    height: 60%;
    object-fit: contain;
}